.bg-gray-one {
    background-color: #e5e7eb !important;
}

.text-white {
    color: #ffffff;
}

.super-small {
    font-size: 6px;
}

.text-20px {
    font-size: 20px;
}

.text-25px {
    font-size: 25px;
}

.text-30 {
    font-size: 30px;
}

.text-35 {
    font-size: 35px;
}

.text-40px {
    font-size: 40px;
}

.text-45px {
    font-size: 45px;
}

.text-50px {
    font-size: 50px;
}
